include mixins
doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(name='description', content='')
		meta(name='author', content='')
		title all games
		link(href='vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
		link(href='css/small-business.css', rel='stylesheet')
		link(href='css/login.css', rel='stylesheet')
	body
		+navbar('login')
		.container
			h1.form-heading login Form
			.login-form
			.main-div
				.panel
				h2 Login
				p Please enter your username and password
				form(action = '/login', method = 'post')#Login
					.form-group
						input#inputEmail.form-control(type='text', placeholder='Email Address', name = 'username')
					.form-group
						input#inputPassword.form-control(type='password', placeholder='Password', name = 'password')
					.forgot
						a(href='reset.html') Forgot password?
					button.btn.btn-primary(type='submit') Login
		footer.py-5.bg-dark
			.container
				p.m-0.text-center.text-white Copyright © Your Website 2017
		script(src='vendor/jquery/jquery.min.js')
		script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
